
.pd-container{
    padding-top: 60px;
    padding-bottom: 100px;
}

.select-day-month-years{
    background: rgb(255, 255, 255);
}
.h-main-menu{
    margin-top:50px;
    height: 100px;
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    border-radius: 30px 00px 30px 0px;
    background: rgb(221, 221, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
    /* font-weight: normal !important; */
}
.h-main-menu:hover{
    margin-top:50px;
    height: 100px;
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 2px 2px 2px 2px rgba(104, 139, 104, 0.63);
    border-radius: 30px 00px 30px 0px;
    background: rgb(240, 240, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 21pt;
    transition: .5s
}

.btn-primary{
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    border-radius: 10px 00px 10px 0px;
    background: rgb(221, 221, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
}



.bg-select-days{
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    border-radius: 10px 00px 10px 0px;
    background: rgb(221, 221, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
}
.bg-select-days:hover{
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    /* border-radius: 30px 00px 30px 0px; */
    background: rgb(240, 240, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
}

.bg-primary {
    background-color: #0e2641!important;
}

/* css screen */

@media (min-width: 1200px) { 
    .pd-main-menu{
        padding-left: 150px !important;
        padding-right: 150px !important; 
    }
 }
