.select-day-month-years{
    background: rgb(255, 255, 255);
}
.h-main-menu{
    margin-top:50px;
    height: 120px;
    border: 2px solid pink;
    border-radius: 30px 00px 30px 0px;
}

#mydiv {
    padding-top:50px;
    padding-bottom: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1200px) { 
    .pd-main-menu{
        padding-left: 250px !important;
        padding-right: 250px !important; 
    }
 }
