<div class="container mt-5">
  <div class="col card">
    <section class="one p-5">
      <div class="select-day-month-years">
        <button class="btn btn-primary d-flex mx-auto">Select-Days</button>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <button class="btn btn-primary lao-font w-100 h-main-menu">ເຂົ້າ</button>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <button class="btn btn-primary lao-font mr-auto w-100 h-main-menu">ອອກ</button>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <button class="btn btn-primary lao-font mr-auto w-100 h-main-menu">ສະຫຼຸບ</button>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
              <button class="btn btn-primary lao-font mr-auto w-100 h-main-menu">ສ້າງສິນຄ້າ</button>
            </div>
      </div>
      
    </section>
  </div>
</div>