.select-day-month-years{
    background: rgb(255, 255, 255);
}
.h-main-menu{
    margin-top:50px;
    height: 120px;
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    border-radius: 30px 00px 30px 0px;
    background: rgb(221, 221, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
    /* font-weight: normal !important; */
}

#mydiv {
    padding-top:50px;
    padding-bottom: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-select-days{
    border: 1px solid rgb(17, 104, 17);
    box-shadow: 0px 2px rgba(72, 99, 72, 0.63);
    border-radius: 30px 00px 30px 0px;
    background: rgb(221, 221, 208) !important;
    color: rgb(32, 32, 32);
    font-size: 20pt;
}

@media (min-width: 1200px) { 
    .pd-main-menu{
        padding-left: 250px !important;
        padding-right: 250px !important; 
    }
 }
