<div class="container-fluid">
  <br>
  <div class="container mt-5 pt-5">
    <button class="btn btn-primary mb-3 home-btn" [routerLink]="['/index']">HOME</button>
    <section class="one bg-add-products pd-add-prod">
      <h1 class="text-center text-uppercase pt-4 eng-font">
        <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> MOUNAO BUFFET
        <i class="fas fa-feather-alt icon-mounao"></i>
      </h1>
      <button class="import-icon-add-pd d-block mx-auto mb-3">
        <i class="fab fa-medrt"></i>
      </button>
      <h2 class="lao-font text-center mb-4">ສ້າງສິນຄ້າ</h2>
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="photo d-flex justify-content-center">
            <img src="../../assets/img/shrimp.jpg" alt="" class="w-px rounded-circle">
          </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="input-group input-group-sm mb-3" *ngIf="_isEdit">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ຊື່ສິນຄ້າ</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  [(ngModel)]="_product.name" (Change)="_product.name=$event.target?$event.target.value:''">
              <div class="input-group-append lao-font">
                  <select name="" id="" (change)="selectUnit($event.target.value)" class="form-control">
                    <option class="lao-font" [value]="s" *ngFor="let s of _units">{{s}}</option>
                  </select>
                </div>
            </div>

            <div class="input-group mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ລະຫັດສິນຄ້າ</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  [(ngModel)]="_product.code" (Change)="_product.code=$event.target?$event.target.value:''">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text ip-text-w lao-font border-right-0" id="inputGroup-sizing-default">ລາຄາ</span>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"  [(ngModel)]="_product.price" (Change)="_product.price=$event.target?$event.target.value:''" >
              <div class="input-group-append">
                <span class="input-group-text" (click)="getRightCurrency()"><button class="btn btn-default">{{_rightCurrency}}</button></span>
              </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ໝາຍເຫດ</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="_product.description" (Change)="_product.description=$event.target?$event.target.value:''" >
              </div>
            </div>       
          </div>
          
        </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-outline-secondary col-md-2 col-6 mb-3 ml-3 lao-font" (click)="addNew()" *ngIf="!_isNew" ><i class="far fa-plus-square"></i> <br>ເພີ່ມໃໝ່</button>
              <button class="btn btn-outline-secondary col-md-2 col-6 mb-3 ml-3 lao-font" *ngIf="_isNew" (click)="updateProduct()"><i class="far fa-edit"></i> <br>ອັບເດດ</button>
              <button class="btn btn-outline-secondary col-md-2 col-6 mb-3 ml-3 lao-font" (click)="cancle()"  *ngIf="_isNew"><i class="fas fa-sign-out-alt"></i> <br>ຍົກເລີກ</button>
              <button class="btn btn-outline-secondary col-md-2 col-6 mb-3 ml-3 lao-font" (click)="addObsoletedProduct()" *ngIf="_selectedProduct"><i class="far fa-trash-alt"></i> <br>ລົບລ້າງ</button>
            </div>
    </section>
    <hr class="col-10">
    <section class="two bg-add-products pd-add-prod">
      <div class="table-second">
        <div class="card">
          <h2 class="lao-font text-center mt-4">ລາຍການສິນຄ້າທີ່ມີໃນຄັງ</h2>
          <div class="card-body">

            <!--Table-->
            <table class="table table-bordered table-responsive-lg table-fixed">
              <!--Table head-->
              <thead>
                <tr class="lao-font text-center width-size-active ">
                  <th>ຮູບ</th>
                  <th class="xl">ຊື່ສິນຄ້າ</th>
                  <th>ລະຫັດ</th>
                  <th>ລາຄາ</th>
                  <th>currency</th>
                  <th>unit</th>
                  <th>ໝາຍເຫດ</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                <tr class="lao-font text-content-center bg-list-stock" *ngFor="let n of _productList" (click)="selectProduct(n)">
                  <th scope="row" class="size-img-make-product">
                    <img src="../../assets/img/squid.jpg" alt="" class="w-100 h-100">
                  </th>
                  <td>{{n.name}}</td>
                  <td>{{n.code}}</td>
                  <td>{{n.price}}</td>
                  <td>{{n.currency}}</td>
                  <td>{{n.unit}}</td>
                  <td>{{n.description}}</td>
                </tr>

                <tr class="lao-font text-content-center bg-list-stock">
                  <th scope="row" class="size-img-make-product">
                    <img src="../../assets/img/squid.jpg" alt="" class="w-100 h-100">
                  </th>
                  <td>ປາໝຶກ</td>
                  <td>0215778</td>
                  <td>100.000 ກີບ</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
              <!--Table body-->

            </table>
            <!--Table-->

          </div>
        </div>
      </div>
    </section>
    <br>
  </div>
  <br>
</div>
