
 .w-px {
    height: 160px;
    width: 160px;
}
.size-img-make-product{
    height: 80px;
    width: 80px;
}
.text-content-center td{
    text-align: center;
    vertical-align:middle;
}
.ip-text-w{
    width: 100px;
}