<div class="container mt-5 pb-5 mb-5">
    <h1 class="text-center text-uppercase eng-font pt-4"><i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> MOUNAO BUFFET <i class="fas fa-feather-alt icon-mounao"></i></h1>
  <section class="one bg-add-products pd-add-prod">
      <button class="import-icon-add-pd d-block mx-auto mb-3">
          <i class="fas fa-upload"></i>
        </button>
      <h2 class="lao-font text-center mb-4">ລົບປະລິນມານສິນຄ້າອອກຈາກສາງ</h2>
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="photo d-flex justify-content-center mb-3">
            <img src="../../assets/img/shrimp.jpg" alt="" class="w-px rounded-circle">
          </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="row">
              <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ຊື່ສິນຄ້າ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
        
                <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ລະຫັດສິນຄ້າ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                
                <div class="input-group mb-3 col-lg-8 col-12">
                  <span class="input-group-text ip-text-w lao-font border-right-0" id="inputGroup-sizing-default">ລາຄາ</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append nk0">
                    <span class="input-group-text">kip</span>
                    <span class="input-group-text">0.00</span>
                  </div>
                </div>
                <div class="input-group mb-3 col-lg-4 col-12">
                    <span class="input-group-text ip-text-w lao-font border-right-0" id="inputGroup-sizing-default">ຈຳນວນ</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
        
                <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ໝາຍເຫດ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
          </div>
        </div>
        <button class="btn btn-danger d-block mx-auto mt-4 lao-font col-md-3 col-4 text-center mb-4">ສຳເລັດ</button>
      </div>
    </section>
    <hr class="col-10">
  
    <section class="two bg-add-products pd-add-prod">
        <div class="table-second">
          <div class="card">
            <h2 class="lao-font text-center mt-4">ລາຍການສິນຄ້າທີ່ມີໃນຄັງ</h2>
            <div class="card-body">
  
              <!--Table-->
              <table class="table table-bordered table-responsive-lg table-fixed">
                <!--Table head-->
                <thead>
                  <tr class="lao-font text-center width-size-active">
                    <th>ຮູບ</th>
                    <th class="xl">ຊື່ສິນຄ້າ</th>
                    <th>ລະຫັດ</th>
                    <th>ລາຄາ</th>
                    <th>ໝາຍເຫດ</th>
                  </tr>
                </thead>
                <!--Table head-->
  
                <!--Table body-->
                <tbody>
                  <tr class="lao-font text-content-center bg-list-stock">
                    <th scope="row" class="size-img-make-product">
                      <img src="../../assets/img/squid.jpg" alt="" class="w-100 h-100">
                    </th>
                    <td>ປາໝຶກ</td>
                    <td>0215778</td>
                    <td>100.000 ກີບ</td>
                    <td></td>
                  </tr>
  
                  <tr class="lao-font text-content-center bg-list-stock">
                    <th scope="row" class="size-img-make-product">
                      <img src="../../assets/img/squid.jpg" alt="" class="w-100 h-100">
                    </th>
                    <td>ປາໝຶກ</td>
                    <td>0215778</td>
                    <td>100.000 ກີບ</td>
                    <td></td>
                  </tr>
  
                </tbody>
                <!--Table body-->
  
              </table>
              <!--Table-->
  
            </div>
          </div>
        </div>
    </section>
  </div>