<div class="container-fluid"> <br>
  <div class="container pt-5 mt-5">    
    <button class="btn btn-primary mb-3 home-btn" [routerLink]="['/index']">HOME</button>
    <section class="one bg-add-products pd-add-prod">
        <h1 class="text-center text-uppercase eng-font pt-4 mb-3"><i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> MOUNAO BUFFET <i class="fas fa-feather-alt icon-mounao"></i></h1>
      <button class="import-icon-add-pd d-block mx-auto mb-3">
          <i class="fas fa-upload"></i>
        </button>
      <h2 class="lao-font text-center mb-4">ລົບປະລິນມານສິນຄ້າອອກຈາກສາງ</h2>
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="photo d-flex justify-content-center mb-3">
            <img src="../../assets/img/shrimp.jpg" alt="" class="w-px rounded-circle">
          </div>
        </div>
        <div class="col-md-9 col-12">
          <div class="row">
              <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default" >ຊື່ສິນຄ້າ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [value]="_selectedStock.productname?_selectedStock.productname:''" disabled>
                </div>
        
                <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ລະຫັດສິນຄ້າ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [value]="_selectedStock.productcode?_selectedStock.productcode:''" disabled>
                </div>
                
                <div class="input-group mb-3 col-lg-6 col-12">
                  <span class="input-group-text ip-text-w lao-font border-right-0" id="inputGroup-sizing-default">ລາຄາ</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [value]="_selectedStock.price?_selectedStock.price:''" disabled>
                  <div class="input-group-append nk0">
                    <span class="input-group-text">kip</span>
                    <!-- <span class="input-group-text">0.00</span> -->
                  </div>
                </div>
                <div class="input-group mb-3 col-lg-6 col-12">
                  <span class="input-group-text ip-text-w-qtty lao-font border-right-0" id="inputGroup-sizing-default">ຈຳນວນທີ່ມີໃນສະຕ໋ອກ</span>
                  <input type="number" class="form-control " aria-label="Amount (to the nearest dollar)" [value]="_selectedStock.qtty-_newQtty" disabled>
                  
                  <span class="input-group-text ip-text-w-qtty lao-font border-right-0" id="inputGroup-sizing-default">ຈຳນວນທີ່ເພີ່ມໃໝ່</span>
                  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" (change)="updateQtty($event.target.value)" [value]="_newQtty" min="0">
                  </div>
        
                <div class="input-group mb-3 col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ໝາຍເຫດ</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" (change)="_selectedStock.description=$event.target.value?$event.target.value:''" [value]="_selectedStock.description?_selectedStock.description:''" />
                </div>
          </div>
        </div>
        <button class="btn btn-dangerous d-block mx-auto mt-4 lao-font col-md-3 col-4 text-center mb-4" (click)="exportStock()">ສຳເລັດ</button>
      </div>
    </section>
    <hr class="col-10">
  
    <section class="two bg-add-products pd-add-prod">
        <div class="table-second">
          <div class="card">
            <h2 class="lao-font text-center mt-4">ລາຍການສິນຄ້າທີ່ມີໃນຄັງ</h2>
            <div class="card-body">
  
              <!--Table-->
              <table class="table table-bordered table-responsive-lg table-fixed">
                <!--Table head-->
                <thead>
                  <tr class="lao-font text-center width-size-active">
                    <th>ຮູບ</th>
                    <th class="xl">ຊື່ສິນຄ້າ</th>
                    <th>ລະຫັດ</th>
                    <th>ລາຄາ</th>
                    <th>ຈຳນວນຍັງເຫຼືອ</th>
                    <th>ຈຳນວນອອກ</th>
                    <th>ລາຄາ</th>
                    <th>ມູນຄ່າ</th>
                    <th>ໝາຍເຫດ</th>
                  </tr>
                </thead>
                <!--Table head-->
  
                <!--Table body-->
                <tbody>
                  <tr class="lao-font text-content-center bg-list-stock" *ngFor="let a of _arr_stock" (click)="selectStock(a)">
                    <th scope="row" class="size-img-make-product">
                      <img src="../../assets/img/squid.jpg" alt="" class="w-100 h-100">
                    </th>
                    <td>{{a.productname}}</td>
                    <td>{{a.productcode}}</td>
                    <td>{{a.price}}</td>
                    <td>{{a.qtty}}</td>
                    <td>{{a.lastexport}}</td>
                    <td>{{a.price*a.lastexport}}</td>
                    <td>{{a.price*a.qtty}}</td>
                    <td>{{a.description}}</td>

                  </tr>

                

                </tbody>
                <!--Table body-->
  
              </table>
              <!--Table-->
  
            </div>
          </div>
        </div>
    </section>
    <br>
  </div>
  <br>
</div>