<div class="container mt-5">
    <section class="zero">
        <div class="text-center">
            <h1 class="text-center text-uppercase eng-font">
              <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
              <i class="fas fa-feather-alt icon-mounao"></i>
            </h1>
          </div>
          <div class="text-center">
            <img src="../../assets/img/Logo-Mounao.png " id="a-size-logo-mounao-index-page" alt="">
          </div>
    </section>
  <h1 class="c-title-list-employee lao-font"><i class="far fa-lightbulb mr-1"></i>ລາຍຊື່ພະນັກງານທັງໝົດ</h1>
  <div class="input-group d-flex justify-content-center">
    <!-- ບ່ອນພິມຊອກທີມງານ -->
    <div class="input-group d-flex justify-content-center mb-3">
      <input type="text" class="form-control form-search-sale-page m-0 col-md-6 offset-md-3 col-8 offset-2" placeholder="Search"
        name="search">
      <div class="input-group-btn">
        <button class="form-control border-left-0 btn-radius-sale-page" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4" data-toggle="modal" data-target="#chooseTableNumber">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="list-employ mb-2 col-md-4">
      <!-- ໂປລຟາຍທີມງານທັງໝົດ -->
      <div class="row p-2">
        <div class="col-4 m-0 text-center my-auto" style="background: rgb(54, 54, 54);">
          <img src="../../assets/img/person.png" alt="" class="size-photo-employ-list mx-auto">
        </div>
        <div class="col-8 m-0 p-0 my-auto">
          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="far fa-id-card mx-auto"></i>
              </span>
            </div>
            <input type="number" class="form-control c-font-size-form" value="0123" disabled>
          </div>

          <div class="input-group c-font-size-form">
            <div class="input-group-prepend">
              <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                <i class="fas fa-user mx-auto"></i>
              </span>
            </div>
            <input type="text" class="form-control c-font-size-form" value="Mr:ABC" disabled>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
