.size-photo-employ-list{
    height: 60px;
    width: 60px
    
}
.c-font-size-form{
    font-size: 8pt;
}

.c-title-list-employee{
    font-size: 1.2rem;
    text-align: center;
    word-spacing: -10px;
    text-decoration: underline;
}
.zero h1{
    font-size: 1.5rem;
    -webkit-text-stroke: 0.1px green;
}
@media (min-width: 320px) and (max-width: 375px){
    .zero h1{
        font-size: 0.9rem;
        -webkit-text-stroke: 0.1px green;
        font-weight: bold;
    }
}

@media (min-width: 1px) and (max-width: 650px){
    .size-photo-employ-list{
        height: 60px;
        width: 60px
        
    }
    .c-font-size-form{
        font-size: 8pt;
    }
    
    .c-title-list-employee{
        font-size: 1.2rem;
        text-align: center;
        word-spacing: -10px;
        text-decoration: underline;
    }
}