<!-- ຫນ້າພິມບິນຮັບເງິນ -->
<div class="container c-margin-top-print-bill">
  <div class="col-md-8 offset-md-2 col-12">
        <section class="c-two-make-order lao-font mb-3 pb-3" style="background: rgba(153, 175, 175, 0.123)">
            <div class="logo-bill text-center">
              <!-- ຮູບພາບໂລໂກໝູໜາວ -->
                <img src="../../assets/img/Logo-Mounao.png" alt="" class="h-25 w-25">
                <h2 class="lao-font">ບິນຮັບເງິນ</h2>
                <h6 class="text-center">***********************************</h6>
            </div>
          <h3 class="text-center lao-font mt-3">
            <i class="far fa-lightbulb mr-1"></i>ລາຍລະອຽດໃບບິນ</h3>
            <!-- ລາຍລະອຽດໃບບິນ -->
          <div class="c-details-customer-make-order mb-3">
            <div class="input-group c-font-size-form">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
                  <span class="mx-auto">ເບີໂຕະ</span>
                </span>
              </div>
              <input type="text" class="form-control c-font-size-form  border-bottom-0" value="ໂຕະ 14">
            </div>
      
            <div class="input-group c-font-size-form">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
                  <span class="mx-auto">ຊື່ລູກຄ້າ</span>
                </span>
              </div>
              <input type="text" class="form-control c-font-size-form  border-bottom-0" value="customer">
            </div>
      
            <div class="input-group c-font-size-form">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
                  <span class="mx-auto">ລະຫັດບິນ</span>
                </span>
              </div>
              <input type="number" class="form-control c-font-size-form  border-bottom-0" value="0123456">
            </div>
      
            <div class="input-group c-font-size-form">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
                  <span class="mx-auto">ຊື່ພະນັກງານ</span>
                </span>
              </div>
              <input type="text" class="form-control c-font-size-form  border-bottom-0" value="ນັດ">
            </div>
      
            <div class="input-group c-font-size-form">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
                  <span class="mx-auto">ໂມງເລີ່ມ</span>
                </span>
              </div>
              <input type="text" class="form-control c-font-size-form" value="18:00 PM">
              <div class="input-group-prepend">
                <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
                  <span class="mx-auto">ໂມງຢຸດ</span>
                </span>
              </div>
              <input type="text" class="form-control c-font-size-form" value="21:30 PM">
            </div>
          </div>
      
          <!-- ເລີ່ມລາຍການອາຫານ -->
          <div class="table-responsive lao-font mt-3">
            <h3 class="lao-font text-center mt-2">
              <i class="far fa-lightbulb mr-1"></i>ລາຍການອາຫານ</h3>
            <table class="table">
              <table class="table table-bordered c-font-size-order-list">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" id="c-size-name-product-make-order">ຊື່ສິນຄ້າ</th>
                    <th scope="col" style="min-width: 60px;">ລາຄາ</th>
                    <th scope="col" style="min-width: 40px;">ຈຳນວນ</th>
                    <th scope="col" style="min-width: 60px;">ລວມ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ນ້ຳແປບຊີ້</td>
                    <td>5.000</td>
                    <td>4</td>
                    <td>20.000</td>
                  </tr>
      
                  <tr>
                    <td scope="row">ນ້ຳດື່ມ</td>
                    <td>7.000</td>
                    <td>5</td>
                    <td>35.000</td>
                  </tr>
      
                  <tr>
                    <td scope="row">ນ້ຳດື່ມ</td>
                    <td>7.000</td>
                    <td>5</td>
                    <td>35.000</td>
                  </tr>
                  <tr>
                    <td>ນ້ຳແປບຊີ້</td>
                    <td>5.000</td>
                    <td>4</td>
                    <td>20.000</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-center">ລວມ</td>
                    <td colspan="1">205.000</td>
                  </tr>
                </tbody>
              </table>
            </table>
            <hr class="col-8">
            <h3 class="lao-font text-center mb-3">ຂອບໃຈລູກຄ້າທຸກທ່ານທີ່ມາອຸດໜຸນ</h3>
            <h6 class="text-center">******************************</h6>
            <div class="logo-thank-print-bill text-center">
                <img src="../../assets/img/logo-thanks-print-bill.png" alt="" class="h-25 w-25">
            </div>
            <div class="c-button-make-order lao-font mb-3 col-md-10 offset-md-1">
              <div class="row justify-content-center">
  
      
                <!-- <div class="col-md-10 col-12 mb-3">
                  <button class="btn btn-sm btn-success lao-font w-100" (click)="printMe()">
                    <i class="fas fa-list-ul"></i>
                    <br>ພິມບິນ</button>
                </div> -->
              </div>
            </div>
          </div>
        </section>
  </div>
</div>