<div class="container mt-5">
  <section class="one-tilte-fn-tb">
    <h1 class="lao-font">
      <b>ຖານະການເງິນ</b>
    </h1>
  </section>

  <section class="two-table-fn-tb ">
    <div class="table-responsive lao-font">
      <table class="table">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">ວັນທີ</th>
              <th scope="col">ເຂົ້າ</th>
              <th scope="col">ອອກ</th>
              <th scope="col">ຂາຍ</th>
              <th scope="col">ກຳໄລ</th>
              <th scope="col">ຂາດທຶນ</th>
              <th scope="col">ສະເລ່ຍ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.000.000</td>
              <td>7.000.000</td>
              <td>--------</td>
              <td>2.000.000</td>
              <td>0</td>
              <td>13%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </section>

  <section class="three-table-fn-tb">

    <div class="select-date-fn-tb float-right">
      <div class="btn-group lao-font" data-toggle="buttons">
        <label class="btn btn-success">
          <input type="checkbox" autocomplete="off" checked class="select-all mr-2">
          <span class="three-font-size">ທັງໝົດ</span> 
        </label>
      </div>
    </div>

    <div class="table-responsive lao-font">
      <table class="table">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">ສິນຄ້າ</th>
              <th scope="col">ຍັງ</th>
              <th scope="col" colspan="5">ເຄີຍສັ່ງ</th>
              <th scope="col">ອາຍູການ</th>
              <th scope="col">ໝາຍເຫດ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">ກຸ້ງ</th>
              <td>10 kg</td>
              <td colspan="5">
                <ul class="list-group">
                  <li>ສັ່ງຕ່ຳສຸດ 80 kg</li>
                  <li>ສູງສຸດ 200 kg</li>
                  <li>ສະເລ່ຍທີ່ໃຊ້ 78 kg/ມື້</li>
                  <li>ສັ່ງລ່າສູດ 175 kg</li>
                  <li>3 ມື້</li>
                </ul>
              </td>
              <td>5 ວັນ</td>
              <td>Size M</td>
            </tr>
            <tr>
                <th scope="row">ໝູສາມຊັ້ນ</th>
                <td>15 kg</td>
                <td colspan="5">95 kg</td>
                <td>6 ວັນ</td>
                <td>Size Big</td>
            </tr>
            <tr>
                <th scope="row">ເບຍລາວ</th>
                <td>5 ແກັດ</td>
                <td colspan="5">120 ແກັດ</td>
                <td>F.V</td>
                <td>Nomal</td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </section>
</div>
