<div class="container c-margin-top-login-page">
  <section class="one-login-page">
    <div class="c-login">
      <div class="card pt-3 col-lg-4 offset-lg-4 col-md-6 offset-md-3">

        <!-- ຫົວຂໍ້ໜັງສື Welcome Mounao -->
        <div class="c-title-login-page">
          <div class="text-center">
            <h1 class="text-center text-uppercase eng-font">
              <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
              <i class="fas fa-feather-alt icon-mounao"></i>
            </h1>
          </div>
        </div>

        <!-- ໂຊຮູບພາບໂລໂກຮ້ານ ໝູໜາວຢູ່ໜ້າ login -->
        <div class="photo-login text-center main-bg">
          <img src="../../assets/img/Logo-Mounao.png" alt="" class="a-photo-login-size">
        </div>

        <div class="c-text-under-photo text-center m-0 p-0 lao-font mt-2">
          <h3 class="p-0 m-0 main-font-color">ຟອມລົງທະບຽນ</h3>
          <hr class="col-md-6 col-8">
        </div>

        <!-- ຟອມລົງທະບຽນ -->
        <div class="c-form-login lao-font main-font-color m-0 p-0">
          <form>
            <!-- ບ່ອນພິມຊື່ ຫຼື ໄອດີ -->
            <div class="for-typing-name p-4 m-0">
              <label for="name" class="c-font-size-form m-0"> * ປ້ອນຊື່</label>
              <div class="input-group mb-2 c-font-size-form">
                <div class="input-group-prepend">
                  <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                    <i class="fas fa-user mx-auto"></i>
                  </span>
                </div>
                <input type="text" id="name" class="form-control c-font-size-form" placeholder="ຊື່" (value)="_newUser.data['user']===undefined? '' : _newUser.data['user'].username" (input)="_newUser.data['user'].username=$event.target.value" required>
              </div>

              <!-- ປ້ອນເບີໂທ -->
              <label for="phone" class="c-font-size-form m-0"> * ປ້ອນເບີໂທ</label>
              <div class="input-group c-font-size-form mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                    <i class="fas fa-mobile mx-auto"></i>
                  </span>
                </div>
                <input type="number" id="phone" class="form-control c-font-size-form" placeholder="ເບີໂທ" (value)="_newUser.data['user'].phonenumber===undefined? '' : _newUser.data['user'].phonenumber"
                (input)="_newUser.data['user'].phonenumber=$event.target.value" required>
              </div>

              <!-- ປ້ອນລະຫັດຜ່ານ -->
              <label for="password" class="c-font-size-form m-0"> * ປ້ອນລະຫັດຜ່ານ</label>
              <div class="input-group c-font-size-form mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                    <i class="fas fa-unlock-alt mx-auto"></i>
                  </span>
                </div>
                <input type="password" id="password" class="form-control c-font-size-form" placeholder="ລະຫັດຜ່ານ" (value)="_newUser.data['user'].password===undefined? '' : _newUser.data['user'].password"
                (input)="_newUser.data['user'].password=$event.target.value" required>
              </div>

              <!-- ຢັ້ງລະຫັດຜ່ານ -->
              <label for="password-confirm" class="c-font-size-form m-0"> * ຢັ້ງຢືນລະຫັດຜ່ານ</label>
              <div class="input-group c-font-size-form mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                    <i class="fas fa-redo-alt mx-auto"></i>
                  </span>
                </div>
                <input type="password" id="password-confirm" class="form-control c-font-size-form" placeholder="ລະຫັດຜ່ານ" (value)="_newUser.data['user'].confirmpassword===undefined? '' : _newUser.data['user'].confirmpassword"
                (input)="_newUser.data['user'].confirmpassword=$event.target.value" required>
              </div>

              <!-- ປຸ່ມກົດຢືນຢັນການລົງທະບຽນ -->
              <button class="btn mt-3 d-block mx-auto c-font-size-form col-4" (click)='registerNewUser()'>ສຳເລັດ</button>

            </div>
          </form>
          <hr class="col-6 mt-0">
          <h6 class="text-center m-0 p-0">ມີບັນຊີແລ້ວ?
            <a [routerLink]="['/login']">ກັບໄປໜ້າລ໋ອກອິນ</a>
          </h6>
        </div>

      </div>
    </div>
  </section>
</div>
