<div class="container c-margin-top-login-page">
  <section class="one-login-page">
    <div class="c-login">
      <div class="card col-lg-4 offset-lg-4 col-md-6 offset-md-3">

        <!-- ຫົວຂໍ້ໜັງສື Welcome Mounao -->
        <div class="c-title-login-page">
          <div class="text-center">
            <h1 class="text-center text-uppercase eng-font">
              <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
              <i class="fas fa-feather-alt icon-mounao"></i>
            </h1>
          </div>
        </div>

        <!-- ໂຊຮູບພາບໂລໂກຮ້ານ ໝູໜາວຢູ່ໜ້າ login -->
        <div class="photo-login text-center main-bg">
          <img src="../../assets/img/Logo-Mounao.png" alt="" class="a-photo-login-size">
        </div>

        <div class="c-text-under-photo text-center m-0 p-0 lao-font mt-2">
            <h3 class="p-0 m-0 main-font-color">ຟອມເຂົ້າສູ່ລະບົບ</h3>
            <hr class="col-md-6 col-8">
          </div>


        <!-- ຟອມລົງທະບຽນ -->
        <div class="c-form-login lao-font main-font-color m-0 p-0">
          <form>
            <!-- ບ່ອນພິມຊື່ ຫຼື ໄອດີ -->
            <div class="for-typing-name p-4">
                <label for="name" class="c-font-size-form m-0"> * ປ້ອນຊື່</label>
                <div class="input-group mb-2 c-font-size-form">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon"><i class="fas fa-user mx-auto"></i></span>
                  </div>
                  <input type="text" id="name" class="form-control c-font-size-form" placeholder="YOURNAME" [value]="_loginUser.username===undefined?'':_loginUser.username" (input)="_loginUser.username=$event.target.value"
                  name="loginUsername" required>
                </div>

                <!-- ປ້ອນລະຫັດຜ່ານ -->
                <label for="password" class="c-font-size-form m-0"> * ປ້ອນລະຫັດຜ່ານ</label>
                <div class="input-group c-font-size-form">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon"><i class="fas fa-unlock-alt mx-auto"></i></span>
                  </div>
                  <input type="password" id="password" class="form-control c-font-size-form" placeholder="PASSWORD" [value]="_loginUser.password===undefined? '' :_loginUser.password" (input)="_loginUser.password=$event.target.value"
                  name="loginPassword" required>
                </div>
            </div>
            <!-- ປຸ່ມກົດຢືນຢັນເຂົ້າສູ່ລະບົບ -->
            <button class="btn mb-3 d-block mx-auto c-font-size-form col-4" (click)="login()">ເຂົ້າສູ່ລະບົບ</button>            
          </form>
          <hr class="col-6 mt-0">
          <h6 class="text-center m-0 p-0">ລືມລະຫັດຜ່ານ?<a [routerLink]="['/change-password']">ກູ້ລະຫັດຜ່ານ</a></h6>
        </div>
      </div>
    </div>
  </section>
</div>
