<!-- <br> <br> <br>
<div class="container lao-font">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <li class=" d-flex justify-content-between align-items-center">
                      ຈຳນວນທັງໝົດທີ່ອັບເດດເຄື່ອງທະເລ
                      <span class="badge badge-primary badge-pill ml-2">4</span>
                    </li>
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active">ປະເພດເຄື່ອງທະເລ</li>
                    <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 1 ເພີ່ມ ປາໝຶກ 20 ໂລ</li>
                    <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 2 ເພີ່ມ ກຸ້ງ 50 ໂລ</li>
                    <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 3 ເພີ່ມກະປູ 40 ໂລ</li>
                    <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 4 ເພີ່ມຫອຍ 70 ໂລ</li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <li class=" d-flex justify-content-between align-items-center">
                        ຈຳນວນທັງໝົດທີ່ອັບເດດເຄື່ອງດື່ມ
                        <span class="badge badge-primary badge-pill ml-2">3</span>
                      </li>
                </button>
              </h5>
            </div>
        
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <ul class="list-group">
                      <li class="list-group-item active">ປະເພດເຄື່ອງທະເລ</li>
                      <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 1 ເພີ່ມ ເບຍ heineken 10 ແກັດ</li>
                      <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 2 ເພີ່ມ ເບຍລາວ 12 ລັງ</li>
                      <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 3 ເພີ່ມ ນ້ຳດື່ມຫົວເສືອ ຕຸກໃຫຍ່ 20 ແພັກ</li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                      <li class=" d-flex justify-content-between align-items-center">
                          ຈຳນວນທັງໝົດທີ່ອັບເດດເຄື່ອງທະເລ
                          <span class="badge badge-primary badge-pill ml-2">4</span>
                        </li>
                  </button>
                </h5>
              </div>
          
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item active">ປະເພດເຄື່ອງທະເລ</li>
                        <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 1 ເພີ່ມ ປາໝຶກ 20 ໂລ</li>
                        <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 2 ເພີ່ມ ກຸ້ງ 50 ໂລ</li>
                        <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 3 ເພີ່ມກະປູ 40 ໂລ</li>
                        <li class="list-group-item"><i class="fas fa-tag text-primary"></i> ອັບເດດຄັ້ງທີ 4 ເພີ່ມຫອຍ 70 ໂລ</li>
                      </ul>
                </div>
              </div>
            </div>
      </div>
</div>
 -->


<!-- new test start from here -->


<div class="container">
  <div class="row mt-5">
    <div class="scroll-x">
      <div class="col-4 device"></div>
      <div class="col-4 device"></div>
      <div class="col-4 device"></div>
      <div class="col-4 device"></div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" id="scrollspy-menu">
    <div class="col-6 device-mobile">
      <div class="p-3 device-in">
        <div class=" d-flex justify-content-center align-items-center">
          <img src="../../assets/img/shrimp.jpg" alt="" class="h-50 w-50 rounded-circle">
        </div>
        <ul class="list-group hover-list">
          <li class="list-group-item disabled">
            <i class="fas fa-signature " id="size-icon"></i>: ຜັກບົ້ງ</li>
          <li class="list-group-item">
            <i class="fas fa-barcode" id="size-icon"></i>: 05812447</li>
          <li class="list-group-item">
            <i class="fas fa-dollar-sign" id="size-icon"></i>: 1.500.000</li>
          <li class="list-group-item">
            <i class="fas fa-coins" id="size-icon"></i>: 30 kg</li>
          <li class="list-group-item">
            <i class="far fa-money-bill-alt" id="size-icon"></i>: 900.000 kip</li>
          <li class="list-group-item">
            <i class="fas fa-file-import" id="size-icon"></i>: 50 20 30</li>
          <li class="list-group-item">
            <i class="fas fa-file-import" id="size-icon-edit"></i>
            <i class="fas fa-dollar-sign ml-1" id="size-icon-edit"></i> : 900.000 kip</li>
          <li class="list-group-item">
            <i class="far fa-comment-dots" id="size-icon"></i>: Size L</li>
        </ul>
      </div>
    </div>

    <div class="col-6 device-mobile">
      <div class="p-3 device-in">
        <div class=" d-flex justify-content-center align-items-center">
          <img src="../../assets/img/shrimp.jpg" alt="" class="h-50 w-50 rounded-circle">
        </div>
        <ul class="list-group hover-list">
          <li class="list-group-item disabled">
            <i class="fas fa-signature" id="size-icon"></i>: ຜັກບົ້ງ</li>
          <li class="list-group-item">
            <i class="fas fa-barcode" id="size-icon"></i>: 05812447</li>
          <li class="list-group-item">
            <i class="fas fa-dollar-sign" id="size-icon"></i>: 1.500.000</li>
          <li class="list-group-item">
            <i class="fas fa-coins" id="size-icon"></i>: 30 kg</li>
          <li class="list-group-item">
            <i class="far fa-money-bill-alt" id="size-icon"></i>: 900.000 kip</li>
          <li class="list-group-item">
            <i class="fas fa-file-import" id="size-icon"></i>: 50 20 30</li>
          <li class="list-group-item">
            <i class="fas fa-file-import" id="size-icon-edit"></i>
            <i class="fas fa-dollar-sign ml-1" id="size-icon-edit"></i> : 900.000 kip</li>
          <li class="list-group-item">
            <i class="far fa-comment-dots" id="size-icon"></i>: Size L</li>
        </ul>
      </div>
    </div>

  </div>
</div>
