
.go1{
    background: rgb(175, 175, 187);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 25px 15px 15px;
}
#size-award-index{
    font-size: 50pt;   
}
.go2{
    /* background: green; */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.test-two .list-group {
    font-size: 8pt;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: none !important;
    margin-bottom: none !important;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 0.1rem 0.2rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  #size-icon{
    text-align: center;
    color: rgb(70, 68, 68);
    font-size: 4pt;
    height: 12px;
    width: 12 px;
    background: none;
    -ms-flex-pack: center !important;
    justify-content: center !important;

}
#size-icon-edit{
  color: rgb(70, 68, 68);
  font-size: 9pt !important;
  /* width: 30px; */
  background: none;
}
.list-group{
    background: red !important;
}
.list-group-item{
    border-left: 0px !important;
    background: rgb(175, 175, 187);
    border-radius: 0px !important;
}
