<div class="container c-margin-top-login-page">
    <section class="one-login-page">
      <div class="c-login">
        <div class="card pt-3 col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
  
          <!-- ຫົວຂໍ້ໜັງສື Welcome Mounao -->
          <div class="c-title-login-page">
            <div class="text-center">
              <h1 class="text-center text-uppercase eng-font">
                <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
                <i class="fas fa-feather-alt icon-mounao"></i>
              </h1> 
            </div>
          </div>
  
          <!-- ໂຊຮູບພາບໂລໂກຮ້ານ ໝູໜາວຢູ່ໜ້າ login -->
          <div class="photo-login text-center main-bg">
            <img src="../../assets/img/fruit.png" alt="" class="a-photo-login-size">
          </div>
  
          <div class="c-text-under-photo text-center m-0 p-0 lao-font mt-2">
            <h3 class="p-0 m-0 main-font-color">ຂໍ້ມູນສ່ວນຕົວ</h3>
          </div>
  
          <!-- ຟອມລົງທະບຽນ -->
          <div class="c-form-login lao-font main-font-color m-0 p-0">
            <form>
              <!-- ບ່ອນພິມຊື່ ຫຼື ໄອດີ -->
              <div class="for-typing-name p-4 m-0">
                <label for="name" class="c-font-size-form m-0"> * ຊື່ພະນັກງານ</label>
                <div class="input-group mb-2 c-font-size-form">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="fas fa-user mx-auto"></i>
                    </span>
                  </div>
                  <input type="text" id="name" class="form-control c-font-size-form" value="Mr: ABC" disabled>
                </div>
  
                <!-- ໄອດີ -->
                <label for="code_id" class="c-font-size-form m-0"> * ໄອດີ</label>
                <div class="input-group c-font-size-form mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="far fa-id-card mx-auto"></i>
                    </span>
                  </div>
                  <input type="number" id="code_id" class="form-control c-font-size-form" value="0123" disabled>
                </div>
  
                <!-- ເບີໂທ -->
                <label for="phone" class="c-font-size-form m-0"> * ເບີໂທ</label>
                <div class="input-group c-font-size-form mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="fas fa-mobile mx-auto"></i>
                    </span>
                  </div>
                  <input type="number" id="phone" class="form-control c-font-size-form" value="02055566688" disabled>
                </div>
  
                <!-- ຄະແນນ -->
                <label for="score" class="c-font-size-form m-0"> * ຄະແນນ</label>
                <div class="input-group c-font-size-form mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="fas fa-star mx-auto"></i>
                    </span>
                  </div>
                  <input type="number" id="score" class="form-control c-font-size-form" value="30" disabled>
                </div>

                <!-- ການບໍລິການ -->
                <label for="service" class="c-font-size-form m-0"> * ການບໍລິການ</label>
                <div class="input-group c-font-size-form mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="fas fa-cocktail mx-auto"></i>
                    </span>
                  </div>
                  <textarea id="service" class="form-control form-control2 c-font-size-form c-score-padding-top">T13(1), T15(2), T12(4), T15(8),T13(1), T15(2), T12(4), T15(8)</textarea>
                  
                </div>
  
                <!-- ໝາຍເຫດ -->
                <label for="description" class="c-font-size-form m-0"> * ໝາຍເຫດ</label>
                <div class="input-group c-font-size-form">
                  <div class="input-group-prepend">
                    <span class="input-group-text lao-font c-font-size-form c-width-form-icon">
                      <i class="far fa-comment-alt mx-auto"></i>
                    </span>
                  </div>
                  <textarea id="service" class="form-control form-control2 c-font-size-form c-score-padding-top"></textarea>
                </div>
  
                <!-- ປຸ່ມກົດຢືນຢັນການລົງທະບຽນ -->
                <button class="btn mt-3 d-block mx-auto c-font-size-form col-4 text-center">ຕົກລົງ</button>
  
              </div>
            </form>
            <hr class="col-6 mt-0">
            <h6 class="text-center m-0 p-0">ລືມລະຫັດຜ່ານ?
              <a [routerLink]="['/change-password']">ປ່ຽນລະຫັດຜ່ານ</a>
            </h6>
          </div>
  
        </div>
      </div>
    </section>
  </div>
  