.c-margin-top-login-page{
    margin-top:5%;
}
.card{
    background: #e7fafd4b !important;
}
.a-photo-login-size{
    height: 120px;
    width: 120px;
}
h1{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}
h6{
    font-size: 0.7rem;
}
.c-font-size-form{
    font-size: 9pt;
}
.c-width-form-icon{
    width: 40px;
}
.input-group-text{
    border-radius: 20px 0px 0px 20px !important;
}
.form-control{
    border-radius: 0px 20px 20px 0px !important;
    height: 30px;
}
.form-control2{
    border-radius: 0px 20px 20px 0px !important;
    height: 48px;
}
.card{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
} 


@media (min-width: 1px) and (max-width: 405px){
    .c-margin-top-login-page{
        margin-top:15%;
    }
    .a-photo-login-size{
        height: 100px;
        width: 100px;
    }
    h1{
        font-size: 0.9rem;
    }
    h3{
        font-size: 0.8rem;
    }
    h6{
        font-size: 0.6rem;
    }
    .c-font-size-form{
        font-size: 8pt;
        text-align: start;
    }
    .c-width-form-icon{
        width: 50px;
    }
    .input-group-text{
        border-radius: 20px 0px 0px 20px !important;
    }
    .form-control{
        border-radius: 0px 20px 20px 0px !important;
        height: 40px;
    }
    .c-center-page{
        margin-top:50%;
        margin-bottom: 50%;
    }
    .c-score-padding-top{
        line-height: 28px;
    }
      
}