<div class="container mt-4">
  <div class="table-responsive lao-font">
    <table class="table">
      <h3 class="lao-font text-center"><i class="far fa-lightbulb mr-1"></i>ລາຍການເຄື່ອນໄຫວຂອງລູກຄ້າ</h3>
      <table class="table table-bordered c-font-size-order-list">
        <thead class="thead-light">
          <tr>
            <th scope="col">ລຳດັບ</th>
            <th scope="col" style="min-width: 60px;">ໂຕະ</th>
            <th scope="col" style="min-width: 100px;">ຊື່ຄົນຮັບຜິດຊອບ</th>
            <th scope="col" style="min-width: 30px;">ສະຖານະ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>ໂຕະ 4</td>
            <td>ທ້າວ.ນັດ</td>
            <td>
              <button class="btn btn-sm btn-danger c-width-button-order-list">ຍັງບໍ່ທັນຈ່າຍ</button>
            </td>
          </tr>

          <tr>
            <td scope="row">2</td>
            <td>ໂຕະ 4</td>
            <td>ທ້າວ.ນັດ</td>
            <td>
              <button class="btn btn-sm btn-danger c-width-button-order-list">ຍັງບໍ່ທັນຈ່າຍ</button>
            </td>
          </tr>

          <tr>
            <td scope="row">2</td>
            <td>ໂຕະ 4</td>
            <td>ທ້າວ.ນັດ</td>
            <td>
              <button class="btn btn-sm btn-danger c-width-button-order-list">ຍັງບໍ່ທັນຈ່າຍ</button>
            </td>
          </tr>

          <tr>
            <td scope="row">2</td>
            <td>ໂຕະ 4</td>
            <td>ທ້າວ.ນັດ</td>
            <td>
              <button class="btn btn-sm btn-success c-width-button-order-list">ຈ່າຍແລ້ວ</button>
            </td>
          </tr>

        </tbody>
      </table>
    </table>
  </div>
</div>
