.c-font-size-order-list th{
    font-size: 10pt;
    text-align: center;
  vertical-align: middle;

}

.c-font-size-order-list td{
    font-size: 10pt;
    text-align: center;
  vertical-align: middle;
}

.c-width-button-order-list{
    min-width: 100px;
}
h3{
  font-size:1.5rem;
}

@media (min-width: 1px) and (max-width: 400px){
  .c-font-size-order-list th{
    font-size: 8pt;
    text-align: center;
  vertical-align: middle;

}

.c-font-size-order-list td{
    font-size: 8pt;
    text-align: center;
  vertical-align: middle;
}

.c-width-button-order-list{
    font-size: 8pt;
    vertical-align: middle;
}
h3{
  font-size:1rem;
}

}