<div class="container margin-top-make-product-to-sale-page">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <section class="zero">
          <div class="text-center">
            <h1 class="text-center text-uppercase eng-font">
              <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
              <i class="fas fa-feather-alt icon-mounao"></i>
            </h1>
          </div>
          <div class="text-center">
            <img src="../../assets/img/Logo-Mounao.png " id="a-size-logo-mounao-index-page" alt="">
          </div>  
        </section>
      </div>
    </div>
    <div class="row">
      <section class="c-one-make-order lao-font mb-3 pb-3 col-xl-6 col-lg-6 col-md-6" style="background: rgba(147, 165, 165, 0.068)">
        <div class="choose-goods-for-customer mt-3">
          <h3 class="lao-font text-center">
            <i class="far fa-lightbulb mr-1"></i>ເລືອກປະເພດສິນຄ້າທີ່ຈະສ້າງ</h3>
          <div class="select-type mb-3">
            <div class="scrolling-wrapper lao-font text-center">
              <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4"  *ngFor="let m of _goodstype" (click)="selectGoodsType(m)">
                <div class="c-bg-goods-type" [class]="checkSelectedGoodsType(m.name)">
                  <img [src]="getURL(m.src)" class="h-100 w-100 mb-1 p-1" alt="">
                  <br>{{m.name}}
                </div>
              </button>
              <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4">
                <div class="c-bg-goods-type">
                  <img src="../../assets/img/dessert.png" class="h-100 w-100 mb-1 p-1" alt="">
                  <br>ຂອງຫວານ
                </div>
              </button>
            </div>
          </div>
        </div>

        <!-- ປຸ່ມກົດສ້າງສິນຄ້າ -->
        <div class="button-makes-products">
          <button class="btn2 btn-info d-block mx-auto col-6 lao-font" (click)="addNew()" *ngIf="!_isNew">ເພີ່ມໃໝ່</button>

          <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ຊື່ສິນຄ້າ</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="_product.name"
              (Change)="_product.name=$event.target?$event.target.value:''">
            <div class="input-group-append lao-font">
              <select name="" id="" (change)="selectUnit($event.target.value)" class="form-control main-size-font">
                <option class="lao-font " [value]="s" [selected]="s === _rightUnit" *ngFor="let s of _units">{{s}}</option>
              </select>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ລະຫັດສິນຄ້າ</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="_product.code"
              (Change)="_product.code=$event.target?$event.target.value:''" disabled>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text ip-text-w lao-font border-right-0" id="inputGroup-sizing-default">ລາຄາ</span>
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="_product.price" (Change)="_product.price=$event.target?$event.target.value:''">
            <div class="input-group-append">
              <span class="input-group-text " (click)="getRightCurrency()">
                <button class="btn btn-default main-size-font">{{_rightCurrency}}</button>
              </span>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text ip-text-w lao-font" id="inputGroup-sizing-default">ໝາຍເຫດ</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="_product.description"
              (Change)="_product.description=$event.target?$event.target.value:''">
          </div>

          <div class="d-flex justify-content-around">
            <button class="btn2 btn-info d-block col-4 lao-font" *ngIf="_isEdit" (click)="updateProduct()">
              <i class="far fa-edit"></i>
              <br>ອັບເດດ</button>
            <button class="btn2 btn-info d-block col-4 lao-font" (click)="cancle()" *ngIf="_isEdit">
              <i class="fas fa-sign-out-alt"></i>
              <br>ຍົກເລີກ</button>
            <button class="btn2 btn-info d-block col-4 lao-font" (click)="addObsoletedProduct()" *ngIf="_isEdit&&!_isNew ">
              <i class="far fa-trash-alt"></i>
              <br>ລົບລ້າງ</button>
          </div>
        </div>
      </section>
  
      <section class="c-two-make-order lao-font mb-3 pb-3 col-xl-6 col-lg-6 col-md-6" style="background: rgba(153, 175, 175, 0.123)">
  
        <h3 class="text-center lao-font mt-3">
          <i class="far fa-lightbulb mr-1"></i>ລາຍການສິນຄ້າທີ່ມີໃນຄັງ</h3>
          <div class=" row input-group mb-2 col-8 offset-2 ">
            <input type="text" class="form-control" [(ngModel)]='_search_text' (keypress)="searchStock($event)">
            <button>
              <i class="fas fa-search color-search-add-pd"></i>
            </button>
          </div>
          <div class="row mt-4">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4 col-6 mb-3" *ngFor="let n of filterArrStock()" (click)="selectProduct(n)">
              <div class="device-in">
                <div class=" d-flex justify-content-center align-items-center border-image-list">
                  <img src="../../assets/img/shrimp.jpg" alt="" class="h-50 w-50 rounded-circle" >
                </div>
                <ul class="list-group hover-list">
                  <li class="list-group-item disabled">
                    <img src="../../assets/img/icon/name-product.png" id="size-icon"> : {{n.name}}</li>
                  <li class="list-group-item">
                    <img src="../../assets/img/icon/barcode.png" id="size-icon"> : {{n.code}}</li>
                  <li class="list-group-item">
                    <img src="../../assets/img/icon/price-tag.png" id="size-icon"> : {{n.price | number:'1.0-0'}}</li>
                  <li class="list-group-item">
                    <img src="../../assets/img/icon/currency.png" id="size-icon"> : {{n.currency}}</li>
                  <li class="list-group-item">
                    <img src="../../assets/img/icon/scale-kg.png" id="size-icon"> : {{n.unit}}</li>
                  <li class="list-group-item">
                    <img src="../../assets/img/icon/description.png" id="size-icon"> : {{n.description}}</li>
                </ul>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
  
  

  