
.a-color-Mounao-Header{
    color: #ffffff;
}
.bg-header{
    background: black !important;
}
.navbar-toggler{
    color: #ffffff;
}
.navbar-toggler{
    color: #ffffff !important;
}
.navbar-toggler-icon{
    color: #ffffff !important;
}


@media (min-width: 990px) and (max-width: 2024px){
    .a-nav-login-header-page {
        margin-left: auto !important;
        margin-right: 200px;
    }
}