<div class="container mt-5">
  <section class="c-one-make-order">
    <div class="c-details-customer-make-order">
      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ເບີໂຕະ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form  border-bottom-0" placeholder="ID">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ຊື່ລູກຄ້າ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form  border-bottom-0" placeholder="ID">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ລະຫັດບິນ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form  border-bottom-0" placeholder="ID">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ຊື່ພະນັກງານ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form  border-bottom-0" placeholder="ID">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
            <span class="mx-auto">ໂມງເລີ່ມ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form" placeholder="ID">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
            <span class="mx-auto">ໂມງຢຸດ</span>
          </span>
        </div>
        <input type="number" for="name" class="form-control c-font-size-form" placeholder="ID">
      </div>


    </div>

    <div class="table-responsive lao-font mt-3">
      <table class="table">
        <h3 class="lao-font text-center">ລາຍການອາຫານ</h3>
        <table class="table table-bordered c-font-size-order-list">
          <thead class="thead-light">
            <tr>
              <th scope="col">ຊື່ສິນຄ້າ</th>
              <th scope="col" style="min-width: 100px;">ລາຄາ</th>
              <th scope="col" style="min-width: 60px;">ຈຳນວນ</th>
              <th scope="col" style="min-width: 60px;">ລວມ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">ນ້ຳແປບຊີ້</td>
              <td>5.000</td>
              <td>4</td>
              <td>20.000</td>
            </tr>

            <tr>
              <td scope="row">ນ້ຳດື່ມ</td>
              <td>7.000</td>
              <td>5</td>
              <td>35.000</td>
            </tr>

            <tr>
              <td scope="row">ເບຍ</td>
              <td>15.000</td>
              <td>10</td>
              <td>150.000</td>
            </tr>
            <tr>
              <td colspan="3" class="text-center">ລວມ</td>
              <td>205.000</td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>

  </section>

  <section class="c-two-make-order">
    <div class="choose-goods-for-customer">
      <h3 class="lao-font text-center">ເລືອກປະເພດສິນຄ້າ</h3>
      <div class="select-type mb-3">
        <div class="scrolling-wrapper lao-font">
          <button class=" btn choose-goods-type p-1 col-4">
            <div style="background: white !important; border: solid 1px black;">
                <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                <br>pepsi
            </div>
          </button>
          <button class=" btn choose-goods-type p-1 col-4">
              <div style="background: white !important; border: solid 1px black;">
                  <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                  <br>pepsi
              </div>
            </button>
            <button class=" btn choose-goods-type p-1 col-4">
                <div style="background: white !important; border: solid 1px black;">
                    <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                    <br>pepsi
                </div>
              </button>
              <button class=" btn choose-goods-type p-1 col-4">
                  <div style="background: white !important; border: solid 1px black;">
                      <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                      <br>pepsi
                  </div>
                </button>
        </div>
      </div>

      <div class="select-list">
        <button class=" btn choose-goods-type p-1 col-3">
          <div style="background: white !important; border: solid 1px black;">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-3" style="background: none !important">
            <div style="background: white !important; border: solid 1px black;">
              <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
              <br>pepsi
            </div>
          </button>

          <button class=" btn choose-goods-type p-1 col-3">
              <div style="background: white !important; border: solid 1px black;">
                <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                <br>pepsi
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-3">
                <div style="background: white !important; border: solid 1px black;">
                  <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
                  <br>pepsi
                </div>
              </button>


      </div>
    </div>
  </section>


</div>
