<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <section class="zero">
        <div class="text-center">
          <h1 class="text-center text-uppercase eng-font">
            <i class="fas fa-feather-alt mr-1 icon-mounao-rotate"></i> Welcome to MOUNAO BUFFET
            <i class="fas fa-feather-alt icon-mounao"></i>
          </h1>
        </div>
        <div class="text-center">
          <img src="../../assets/img/Logo-Mounao.png " id="a-size-logo-mounao-index-page" alt="">
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <section class="c-one-make-order lao-font mb-3 pb-3 col-xl-6 col-lg-6 col-md-6" style="background: rgba(147, 165, 165, 0.068)">
      <div class="choose-goods-for-customer mt-3">
          <h6 class="lao-font text-center btn-info p-3 mt-3">
              <i class="far fa-lightbulb mr-1"></i>ເລືອກປະເພດສິນຄ້າ</h6>
        <div class="select-type mb-3">
          <div class="scrolling-wrapper lao-font text-center">
            <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4">
              <div class="c-bg-goods-type selectedclass">
                <img src="../../assets/img/bewerage.png" class="h-100 w-100 mb-1 p-1" alt="">
                <br>ເຄື່ອງດື່ມ
              </div>
            </button>
            <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/ice.png" class="h-100 w-100 mb-1 p-1" alt="">
                <br>ນ້ຳກ້ອນ
              </div>
            </button>
            <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/food.png" class="h-100 w-100 mb-1 p-1" alt="">
                <br>ອາຫານ
              </div>
            </button>
            <button class="btn choose-goods-type p-1 col-xl-3 col-lg-3 col-md-4 col-4">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/dessert.png" class="h-100 w-100 mb-1 p-1" alt="">
                <br>ຂອງຫວານ
              </div>
            </button>
          </div>
        </div>

        <!-- ເຄື່ອງດື່ມຂະໜາດໃຫຍ່ -->
        <h6 class="lao-font text-center btn-info p-3 mt-3">
          <i class="fab fa-drupal mr-1"></i>ຊະນິດສິນຄ້າ</h6>
        <div class="scrolling-wrapper lao-font text-center hello-test">
          <div class="select-list text-center lao-font">
            <button class="btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3" data-toggle="modal" data-target="#selectPrice">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Mirinda-green.png" class="h-100 w-100 mb-1" alt="">
                <br>ນ້ຳຂຽວໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Mirinda-red.png" class="h-100 w-100 mb-1" alt="">
                <br>ນ້ຳແດງໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Mirinda-orange.png" class="h-100 w-100 mb-1" alt="">
                <br>ນ້ຳສົ້ມໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Pepsi.png" class="h-100 w-100 mb-1" alt="">
                <br>ແປບຊີ້ໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Sprite.png" class="h-100 w-100 mb-1" alt="">
                <br>Sprite ໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Water.png" class="h-100 w-100 mb-1" alt="">
                <br>ນ້ຳດື່ມໃຫຍ່
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/BeerLao.png" class="h-100 w-100 mb-1" alt="">
                <br>ເບຍລາວ
              </div>
            </button>

            <button class=" btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-3 col-3">
              <div class="c-bg-goods-type">
                <img src="../../assets/img/icon-sale/Heineken.png" class="h-100 w-100 mb-1" alt="">
                <br>Heineken
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="c-two-make-order lao-font mb-3 pb-3 col-xl-6 col-lg-6 col-md-6 " style="background: rgba(153, 175, 175, 0.123)">
      <div class="lao-font mt-3 scrolly fixed-bottom">
        <div class="row btn-info pt-2">
          <div class="col-lg-6 col-12 head-text-make-order-page border-split-left-make-order-page">
            <div class="lao-font ml-2">
              <h6 class=""><i class="far fa-money-bill-alt mr-2 size-icon-table-make-order"></i>ລວມເງິນທັງໝົດ: 50,000</h6>
              <h6 class=""><i class="fas fa-user mr-2 size-icon-table-make-order"></i>ຊື່ລູກຄ້າ: customer</h6>
              <h6 class=""><i class="far fa-clock mr-2 size-icon-table-make-order"></i>ໂມງເລີ່ມ-ຢຸດ: 18:00 PM - 20:30 PM</h6>
            </div>
          </div>
          <div class="col-lg-6 col-12 head-text-make-order-page border-split-right-make-order-page">
            <div class="lao-font ml-2">
              <h6 class=""><i class="fas fa-table mr-2 size-icon-table-make-order"></i>ເບີໂຕະ: 15</h6>
              <h6 class=""><i class="fas fa-smile-beam mr-1 size-icon-table-make-order"></i> ຊື່ພະນັກງານ: ນັດ</h6>
            </div>            
          </div>
        </div>

        <div class="row">
            <table class="table table-responsive">
                <table class="table table-bordered c-font-size-order-list">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" id="c-size-name-product-make-order">ຊື່ສິນຄ້າ</th>
                      <th scope="col" style="min-width: 60px;">ລາຄາ</th>
                      <th scope="col" style="min-width: 40px;">ຈຳນວນ</th>
                      <th scope="col" style="min-width: 60px;">ລວມ</th>
                      <th scope="col" style="min-width: 100px;">ACTION</th>
                      <th scope="col" style="min-width: 100px;">ໝາຍເຫດ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ນ້ຳແປບຊີ້</td>
                      <td>5.000</td>
                      <td>4</td>
                      <td>20.000</td>
                      <td class="width-medium-button-make-order-page">
                          <button class="btn btn-sm btn-danger mr-2"><i class="far fa-trash-alt"></i></button>
                          <button class="btn btn-sm btn-info"><i class="far fa-plus-square"></i></button>
                      </td>
                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    </tr>
      
                    <tr>
                      <td scope="row">ນ້ຳດື່ມ</td>
                      <td>7.000</td>
                      <td>5</td>
                      <td>35.000</td>
                      <td class="width-medium-button-make-order-page">
                          <button class="btn btn-sm btn-danger mr-2"><i class="far fa-trash-alt"></i></button>
                          <button class="btn btn-sm btn-info"><i class="far fa-plus-square"></i></button>
                      </td>
                      <td></td>
                    </tr>
      
                    <tr>
                      <td scope="row">ນ້ຳດື່ມ</td>
                      <td>7.000</td>
                      <td>5</td>
                      <td>35.000</td>
                      <td class="width-medium-button-make-order-page">
                        <button class="btn btn-sm btn-danger mr-2"><i class="far fa-trash-alt"></i></button>
                        <button class="btn btn-sm btn-info"><i class="far fa-plus-square"></i></button>
                      </td>
                      <td></td>
                    </tr>                        
                    <tr>
                      <td colspan="4" class="text-center">ລວມ</td>
                      <td colspan="2">205.000</td>
                    </tr>
                  </tbody>
                </table>
              </table>
        </div>
        <div class="c-button-make-order lao-font mb-3" style="background: white">
          <div class="row justify-content-center p-4">
            <div class="col-md-4 col-sm-6 col-12 mb-3">
              <button class="btn btn-sm btn-info lao-font w-100">
                <i class="fas fa-list-ul"></i>
                <br>ຊຳລະ</button>
            </div>

            <div class="col-md-4 col-sm-6 col-12 mb-3">
              <button class="btn btn-sm btn-info lao-font w-100" [routerLink]="['/print-bill']">
                <i class="fas fa-list-ul"></i>
                <br>ພິມບິນ</button>
            </div>

            <div class="col-md-4 col-sm-6 col-12 mb-3">
              <button class="btn btn-sm btn-info lao-font w-100">
                <i class="fas fa-list-ul"></i>
                <br>ລາຍງານ</button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="selectPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body lao-font">
          <h5 class="lao-font text-center">ກະລຸນາໃສ່ຈຳນວນສິນຄ້າ</h5>
          <div class="table-responsive">
            <table class="table">
              <table class="table table-bordered c-font-size-order-list m-0 p-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" style="min-width: 70px;">ຊື່ສິນຄ້າ</th>
                    <th scope="col" style="min-width: 60px;">ຈຳນວນ</th>
                    <th scope="col" style="min-width: 80px;">ລາຄາ</th>
                    <th scope="col" style="min-width: 60px;">ລາຄາລວມ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="c-size-input-popup">
                    <td>ນ້ຳແປບຊີ້</td>
                    <td>
                      <input type="number" class="form-control" value="4">
                    </td>
                    <td>
                      <input type="number" class="form-control" value="5000">
                    </td>
                    <td>20.000</td>
                  </tr>
                </tbody>
              </table>
            </table>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-center lao-font">
        <button type="button" class="btn btn-primary">ສຳເລັດ</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ອອກ</button>
      </div>
    </div>
  </div>
