<div class="container mt-5">
  <section class="c-one-make-order mb-3">
    <div class="choose-goods-for-customer">
      <h3 class="lao-font text-center">
        <i class="far fa-lightbulb mr-1"></i>ເລືອກປະເພດສິນຄ້າ</h3>
      <div class="select-type mb-3">
        <div class="scrolling-wrapper lao-font text-center">
          <button class="btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-2 col-4">
            <div class="c-bg-goods-type">
              <img src="../../assets/img/bewerage.png" class="h-100 w-100" alt="">
              <br>pepsi
            </div>
          </button>
          <button class="btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-2 col-4">
            <div class="c-bg-goods-type">
              <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
              <br>pepsi
            </div>
          </button>
          <button class="btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-2 col-4">
            <div class="c-bg-goods-type">
              <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
              <br>pepsi
            </div>
          </button>
          <button class="btn choose-goods-type p-1 col-xl-2 col-lg-2 col-md-2 col-4">
            <div class="c-bg-goods-type">
              <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
              <br>pepsi
            </div>
          </button>
        </div>
      </div>

      <div class="select-list text-center">
        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3" data-toggle="modal" data-target="#selectPrice">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>

        <button class=" btn choose-goods-type p-1 col-xl-1 col-lg-2 col-md-2 col-3">
          <div class="c-bg-goods-type">
            <img src="../../assets/img/fruit.png" class="h-100 w-100" alt="">
            <br>pepsi
          </div>
        </button>
      </div>
    </div>
  </section>

  <section class="c-two-make-order mt-2 lao-font">

    <h3 class="text-center lao-font">
      <i class="far fa-lightbulb mr-1"></i>ລາຍລະອຽດໃບບິນ</h3>
    <div class="c-details-customer-make-order mb-3">
      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ເບີໂຕະ</span>
          </span>
        </div>
        <input type="text" class="form-control c-font-size-form  border-bottom-0" value="ໂຕະ 14">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ຊື່ລູກຄ້າ</span>
          </span>
        </div>
        <input type="text" class="form-control c-font-size-form  border-bottom-0" value="customer">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ລະຫັດບິນ</span>
          </span>
        </div>
        <input type="number" class="form-control c-font-size-form  border-bottom-0" value="0123456">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto  border-bottom-0">
            <span class="mx-auto">ຊື່ພະນັກງານ</span>
          </span>
        </div>
        <input type="text" class="form-control c-font-size-form  border-bottom-0" value="ນັດ">
      </div>

      <div class="input-group c-font-size-form">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
            <span class="mx-auto">ໂມງເລີ່ມ</span>
          </span>
        </div>
        <input type="text" class="form-control c-font-size-form" value="18:00 PM">
        <div class="input-group-prepend">
          <span class="input-group-text lao-font c-width-form-icon-make-order mx-auto">
            <span class="mx-auto">ໂມງຢຸດ</span>
          </span>
        </div>
        <input type="text" class="form-control c-font-size-form" value="21:30 PM">
      </div>
    </div>


    <div class="table-responsive lao-font mt-3">
      <h3 class="lao-font text-center mt-2">
        <i class="far fa-lightbulb mr-1"></i>ລາຍການອາຫານ</h3>
      <table class="table">
        <table class="table table-bordered c-font-size-order-list">
          <thead class="thead-light">
            <tr>
              <th scope="col" id="c-size-name-product-make-order">ຊື່ສິນຄ້າ</th>
              <th scope="col" style="min-width: 100px;">ລາຄາ</th>
              <th scope="col" style="min-width: 60px;">ຈຳນວນ</th>
              <th scope="col" style="min-width: 60px;">ລວມ</th>
              <th scope="col" style="min-width: 60px;">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ນ້ຳແປບຊີ້</td>
              <td>5.000</td>
              <td>4</td>
              <td>20.000</td>
              <td>
                <button class="btn btn-sm btn-danger">ແກ້ໄຂ</button>
              </td>
            </tr>

            <tr>
              <td scope="row">ນ້ຳດື່ມ</td>
              <td>7.000</td>
              <td>5</td>
              <td>35.000</td>
              <td>
                <button class="btn btn-sm btn-danger">ແກ້ໄຂ</button>
              </td>
            </tr>

            <tr>
              <td scope="row">ເບຍ</td>
              <td>15.000</td>
              <td>10</td>
              <td>150.000</td>
              <td>
                <button class="btn btn-sm btn-danger">ແກ້ໄຂ</button>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-center">ລວມ</td>
              <td colspan="2">205.000</td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </section>
</div>



<!-- Modal -->
<div class="modal fade" id="selectPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body lao-font">
          <h5 class="lao-font text-center">ກະລຸນາໃສ່ຈຳນວນສິນຄ້າ</h5>
          <div class="table-responsive">
            <table class="table">
              <table class="table table-bordered c-font-size-order-list m-0 p-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" style="min-width: 70px;">ຊື່ສິນຄ້າ</th>
                    <th scope="col" style="min-width: 80px;">ລາຄາ</th>
                    <th scope="col" style="min-width: 60px;">ຈຳນວນ</th>
                    <th scope="col" style="min-width: 60px;">ລວມ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="c-size-input-popup">
                    <td>ນ້ຳແປບຊີ້</td>
                    <td>
                      <input type="number" class="form-control" value="5000">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                    </td>
                    <td>20.000</td>
                  </tr>
                </tbody>
              </table>
            </table>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-center lao-font">
        <button type="button" class="btn btn-primary">ສຳເລັດ</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ອອກ</button>
      </div>
    </div>
  </div>
